doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/dist/assets/stylesheets/style.css')
    link(rel='stylesheet', href='/node_modules/reveal/index.css')
    link(rel='stylesheet', href='http://lab.hakim.se/reveal-js/lib/css/zenburn.css')
    link(rel='stylesheet', href='/node_modules/reveal/theme/night.css')
    script(src="/dist/assets/head.min.js") 
    script.
      if ('registerElement' in document
        && 'createShadowRoot' in HTMLElement.prototype
        && 'import' in document.createElement('link')
        && 'content' in document.createElement('template')) {
        // We're using a browser with native WC support!
      } else {
        document.write('<script src="https:\/\/cdnjs.cloudflare.com/ajax/libs/polymer/0.3.4/platform.js"><\/script>')
      } 
    link(rel="import" href="/bower_components/x-gif/dist/x-gif.html")
  body(id='homeGif')
    block content