extends layout

block content
  .reveal.sgpresento
    .slides
      section(id="titleSlide")
        img(src="/dist/assets/images/js.jpg")
        h1!= title 
      section
          h2 Javascript History & ES6 Purpose 
          p ECMAScript 6, also known as ECMAScript 2015 the latest specification for JavaScript . This standard was finalized last week June 2015. 
            ES6 is a significant update to the language, and the first update to the language since ES5 was standardized in 2009.
            Implementation of these features in major JavaScript engines is underway now (Chakra, Spider Monkey, JSCore, V8)
          p TC39 technical committee in charge of javascript
          p Offical Goals: a better programming lanugage for applications, libraries, and code generators 
      section
        img(src="/dist/assets/images/rockets.png")
        h1 Topics
        div(style={"float": "left"})
          ul
            li Arrows
            li Classes | Subclasses
            li Object Literals
            li Template Strings
            li Let + Const
            li Default + Rest + Spread
            li Modules | Loaders
            li Promises
            li Maps
            li Generators
        div(style={"float": "right"})
          blockquote The good thing about reinventing the wheel is that you can get a round one. - Douglas Crockford 
      section
        img(src="/dist/assets/images/blo.jpg")
        h2 Arrows =>
        div
          p Arrows are a function shorthand using the => syntax. They are syntactically similar to the related feature in C#, Java 8 and CoffeeScript. 
            They support both expression and statement bodies. Unlike functions, arrows share the same lexical this as their surrounding code.
        div
          :markdown
              #### Ex:
                  //single parameter shorthand
                  var x = x => x* x
                
                  var maxTen;

                  //es5
                  maxTen = function(n) { return n > 10 ? 10 : n; }

                  // es6
                  maxTen = (n) => n > 10 ? 10 : n;

                  var getContextnClosed = function(){ return this }
                  var getContextLexical = () => { this };
          p Like Coffeescripts small arrow ->, C# expressions, etc... 
      section
        h3 Classes | Subclasses
        div ES6 classes are a simple sugar over the prototype-based OO pattern. Having a single convenient declarative form makes class patterns easier to use, 
            and encourages interoperability. Classes support prototype-based inheritance, super calls, instance and static methods and constructors.
        section
          div
            :markdown
              #### Ex: Class syntax
                  class Presentation {
                   //defaults
                   constructor(slides = 1, name='Temp Name'){
                       this.slides = slides;
                       this.name = name;
                    }

                    static reveal(){
                        console.log('reveal');
                    }

                    get name(){
                        return this.name.toUpperCase();
                    }

                    set name(newName){
                        if(newName){ 
                            this.name = newName;
                        }
                    }

                    //make all div backgrounds black
                    blackout(){
                       document.querySelectorAll('div');
                       //implement here
                    }
                  }
        section
          div
            :markdown
              #### Ex: Subclass builtin syntax
                  // User code of Array subclass
                  class MyArray extends Array {
                      constructor(...args) { super(...args); }
                  }

                  var arr = new MyArray();
                  arr[1] = 12;
                  arr.length == 2
      section
        img(src="/dist/assets/images/yellowblack.jpg")
        h2 Object Literals
        div Object literals are extended to support setting the prototype at construction, shorthand for foo: foo assignments, defining 
            methods and making super calls. Together, these also bring object literals and class declarations closer together, and let 
            object-based design benefit from some of the same conveniences.
          :markdown
            #### Ex:
                var image = {
                    // __proto__
                    __proto__: theProtoObj,
                    properties,
                    getImage(name){
                      return myMap.get(name);
                    },
                    // Computed (dynamic) property names
                    [ 'prop_' + (6 * 7)]: 42,
                }

              var stamps = 'stamps', coins = 'coins', postcards = 'postcards', moreCollectibles = 'more-collectibles';
              var categories = { stamps, coins, postcards, moreCollectibles }
             
      section
        div
          :markdown
            ## Let + Const new Variables
            ###"LET is the new VAR..."
                function f() {
                {
                  let x;
                  {
                    // okay, block scoped name, has to be initialized
                    const x = "sneaky";
                    // error, const
                    x = "foo";
                  }
                  // error, already declared in block
                  let x = "inner";
                  }
                }
      section
        h3 Template Strings
        div
         p Template strings provide syntactic **sugar** for constructing strings. This is similar to string interpolation features 
           in Perl, Python and more. Optionally, a tag can be added to allow the string construction to be customized, avoiding injection attacks 
           or constructing higher level data.
           structures from string contents.
        div
          :markdown
            #### Ex:
                // Basic literal string creation
                `In JavaScript '\n' is a line-feed.`
                // Multiline strings
                `In JavaScript this 
                  is not legal.`            
                // String interpolation
                var name = "Bob", time = "today";
                `Hello ${name}, how are you ${time}?`
                
                console.log("Fifteen is " + (a + b) + " and\nnot " + (2 * a + b) + ".");
                            vs 
                console.log(`Fifteen is ${a + b} and\nnot ${2 * a + b}.`);

                var plus = [
                    "~~~~~~~~~~~~~~~~~~~~~~",
                    "~~~~~~~~~   ~~~~~~~~~~",
                    "        ~ | ~         ",
                    "        ~ | ~         ",
                    "        ~ | ~         ",
                    "        ~ | ~         ",
                    "        ~ | ~         ",
                    "        ~ | ~         ",
                    "        ~ | ~         ",
                    "        ~~~~~         "].join('');
      section 
        img(src="/dist/assets/images/paint.png")
        :markdown
          ## Default + Rest + Spread
          Callee-evaluated default parameter values. Turn an array into consecutive arguments in a function call. 
          Bind trailing parameters to an array. Rest replaces the need for arguments and addresses common cases more directly.
              class Presentation {
               //defaults
               constructor(slides = 1, name='Harmony'){
                   this.slides = slides;
                   this.name = name;
                }
              } 
              let Presentation = new Presentation();
              logs Presentation {slides: 1, name: "Harmony"}

              //Rest
              function f (x, y, ...a) {
                  return (x + y) * a.length
              }
              f(1, 2, "hello", true, 7) === 9

              //Spreads
              let values = [25, 50, 75, 100] 
              // equivalent to
              // console.log(Math.max(25, 50, 75, 100));
              console.log(Math.max(...values)); 
      section
        :markdown
          ### Modules | Loaders
          #### ES6 Modules (Favors single imports, Async modules support)
          #### Programmatic API - System.import
          Bits and Pieces of CommonJS & AMD
        section
          div
            :markdown
              CommonJS 
              - Single module.exports
              - cyclic dependencies

              AMD
              - Async loading
              - Configurable module loading

              ### Major Design Goals
              - default exports
              - static module structure
              - support for sync/async loading
              - supoort for cyclical dependencies
              Dynamic loading, state, isolation, globalNamespace isolation, compilation hooks, and nested virtualization
        section
          div
            :markdown
              #### Ex: ES6 
                  import {format} from "util";
                  import foo from "foo";
                  import * as foo from "foo";
                  import {barUtilityOftheAges as barAge} from "foo"; 

                  export {uglify, format as ugly};
                  export default Presentation
                  export {test};
                  export var test = 5;

                   /// mymodule.js:
                   export class q {
                      constructor() {
                        console.log('this is an es6 class!');
                      }
                   }
                  <script type="module">  //loads the 'q' export from 'mymodule.js' in the same path as the page
                    import { q } from 'mymodule';
                    new q(); // -> 'this is an es6 class!'
                  </script>

                  <script>
                    System.import('mymodule').then(function(m) {
                      new m.q();
                    });
                  </script>
        section
          div
            :markdown
              ### CommonJs
              #### Ex: Node, Browserfiy
                  let React = require("react");
                  let format = require("util")["format"];
                  module.exports["React"] = React, module.exports["fmt"] = format; 
          div
            :markdown
              ### AMD
              #### Ex: requireJS
                  define(["jquery"],function($){
                    return function(){}
                  }) 

                  require(['core', 'controllers/widget', function(core, widget){

                  }])
      section
        img(src="/dist/assets/images/images.jpeg")
        div
          h2 for-of / Iterators
        :markdown
          ##### Ex
              let somestring = 'some string'
              for (var n of somestring) console.log(n)
              's' 'o' 'm' 'e' 's' 't' 'r' 'i' 'n' 'g'

              let categoriesArrayLike = { length: 4, 0: 'stamps', 1: 'coins', 2: 'postcards', 3: 'moreCollectibles' }
              for (let x of Array.from(categoriesArrayLike)) {
                  console.log(x);
              }

              var categoriesArrayLike = Array.from(categoriesArrayLike)[Symbol.iterator]();
                  categoriesArrayLike.next();
          ## Iterators
            But what is an iterator?
            An iterator is an object that adheres to the iterator protocol - which requires simply one method:

            next() - which advances to the next item in the sequence each time it is called and returns an object that contains two properties
            done - a boolean which is true if and only if the sequence has already ended
            value - the current value in the sequence
          
      section
        h1 Promises
        div Most of the major frameworks have promises built-in. There is a standard for promises called Promises A+ 
            which most of the major implementations adhere to. To top it off, promises have been brought into the runtime itself.
        div
         :markdown
            #### Ex:
                function msgAfterTimeout (msg, who, timeout) {
                return new Promise((resolve, reject) => {
                    setTimeout(() => resolve(`${msg} Hello ${who}!`), timeout)
                })
                }
                msgAfterTimeout("", "Foo", 100).then((msg) =>
                    msgAfterTimeout(msg, "Bar", 200)
                ).then((msg) => {
                    console.log(`done after 300ms:${msg}`)
                })
      section
        img(src="/dist/assets/images/js-spokesman.jpg")
        h1 Maps
        div An object inherits all of Object.prototype's properties, which in most cases is unwanted if you want to use it as a map.
        div
         :markdown
            #### Ex:
                //Maps
                let myMap =  new Map
                m.set("category","stamps")
                m.get("category")
                m.size

                // Sets
                var s = new Set();
                s.add("hello").add("goodbye").add("hello");
                s.size === 2;
                s.has("hello") === true;
 
                // Weak Maps only accepts objects as keys, not enumerable
                var wm = new WeakMap();
                wm.set(s, { extra: 42 });
                wm.size === undefined

                // Weak Sets
                var ws = new WeakSet();
                ws.add({ data: 42 });
                // Because the added object has no other references, it will not be held in the set
      section
        div
          h2 Generators
          p Generators, a new feature of ES6, they are functions that can be paused and resumed recongized by the character function*.
            This helps with many applications: iterators, asynchronous programming, etc.
        :markdown
          #### Ex:
              function *naturalNumbers(){
                var n = 0
                while (true){
                  yield n++
                }
              } 
              let gen = naturalNumbers() 
              gen.next()
               > { value: 0, done: false } 

               var urls = [
                  'http://example.com/',
                  'http://twitter.com/',
                  'http://bbc.co.uk/news/'
              ];
           
              // On this line, all three requests begin in parallel 
              var arrayOfPromises = urls.map(doHttpRequest);
           
              // When we yield the array of promises here, Koa will
              // wait for all of them to complete
              var arrayOfResponses = yield arrayOfPromises;
 
      section
        img(src="/dist/assets/images/unnamed.png")
        h1 Questions ?
        div
          x-gif(src="http://i.imgur.com/LT06wOH.gif")
      section
        h2 References / Credits 
        div
          li
            a(href="http://www.ecma-international.org/ecma-262/6.0/index.html") 
          li 
            a(href="https://github.com/lukehoban/es6features") ECMAScript® 2015
          li 
            a(href="http://babeljs.io/") Babel.io 
          li Mozilla
          li
            a(href="http://es6-features.org/#ExpressionBodies") ECMAScript 6 — New Features: Overview & Comparison
          li
            a(href="https://github.com/tc39") ECMA TC39  
          li requirejs.org, Browserfiy, NodeJS 
          li Reveal
          li Kangax ECMA Compatibility Table
            a(href="https://leanpub.com/understandinges6/read/") LeanPub 
          li Markdown
          li
            a(href="https://github.com/jbielick/es2015-samples") Jbelick github Samples
        h4(style={'align': 'right', 'margin-top':'10px' }) By Tirell* 
  script(src="/dist/assets/main.js") 