body {
  padding: 50px !important;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.sgpresento{
}

.reveal h1,h2,h3,h4,h5 {
  color: #f5da55 !important;
}

img{
  float: right;
  height: 100px;
}